venv
.ipynb_checkpoints
__pycache__
**/lightning_logs
**/predictions/
**/runs_transfer_learning/
**/runs_baseline/
**/.DS_Store
**.out
**.sh
*checkpoint*
*transformed_cases*
*baseline.csv*
*runs_baseline*